.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

body {
  margin: 0;
}

html, body {
  box-sizing: border-box;
  
  padding: 10px;
  background-color: #ffeead;
}

.container > div:nth-child(1) {
  background-color: #00ffff;	
}

.container > div:nth-child(2) {
  background-color: #00ff00;
}

.container > div:nth-child(3) {
  background-color: #ffff00;
}
